input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 1.25rem 2.5rem;
    gap: 2.375rem;
}

.title{
    font-size: 1.875rem;
    font-weight: bold;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--text-color);
}

.information{
    max-width: 80%;
    font-family: "Krub", sans-serif;
    color: var(--text-color);
}

.formSchedule{
    gap: 1.875rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}